main{

    background: url('IMAGIES/black-background.jpg');
    color: white;
    text-align: center;
    padding-top: 0.5rem;
}
#vid{
    background: url('.jpg');
    width: 100px;

}
#header{
    font-size: 2.0rem;
    font-weight: bold;
}
div > p{
    font-size: 1.3rem;
}
#bottomp{
    margin-top: -25px;
}
#free{
    border: 10px solid red;
    background-color: red;
    color: white;
    border-radius: 6px;
    width: 100px;
    margin-right: 15px;
}
#tour{
    border: 10px solid blue;
    background-color: blue;
    color: white;
    border-radius: 6px;
    width: 100px;
    margin-right: 15px;
}
iframe{
    margin-left: 32rem;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
}